body {
    background-color: #ebe3d5;
    margin: 0;
    padding: 0;
}
h1,
a,
p {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 0;
}
p {
    font-size: 20px;

    padding: 20px;
}
.typingTest {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 10px 0 10px;
}
.word {
    padding: 10px;
    color: rgba(0, 0, 0, 0.65);
}

.active {
    background-color: rgba(255, 255, 0, 0.377);
}
.incorrect {
    background-color: rgba(255, 0, 0, 0.322);
}
.correct {
    background-color: rgba(0, 128, 0, 0.326);
}
.welcomePage {
    height: 100vh;
}
.welcomeInfo {
    display: grid;
    justify-content: center;
    align-items: center;
}
.footer {
    display: block;
    box-sizing: border-box;
    background-color: #434342b2;
    padding: 15px;
    width: 100%;
}
#startGameTag {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
